body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
header {
    background-color: #e60023;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }

  main{
    margin-top: 50px;
  }

  /** nav bar**/
nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
    width: 100%;
  }
  

#pinterest-icon img {
    width: 34px;
  }
  
.search-bar {
    flex-grow: 1;
    margin: 0 20px;
  }
  
input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
.nav-links li {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
.nav-links a:hover {
    color: white;
    background-color: #b7001b;
  }


#notifications img:hover {
    background-color: #c9c9c9;
    border-radius: 5px;
  }

#notifications img {
    width: 27px;
    display: flex;
  }

#message img:hover {
    background-color: #c9c9c9;
    border-radius: 5px;
  }

#message img {
    width: 25px;
  }
  
#user-profile {
    background-color: #fff;
    color: #e60023;
    padding: 3px;
    border-radius: 70%;
  }

#user-profile img {
    border-radius: 50%;
    width: 40px;
  }

  /** pins **/

.pin-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
.pin {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.pin img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
.pin h3 {
    padding: 12px;
    margin: 0;
    font-size: 16px;
  }
